body{
    margin: 0;
    background-color: rgb(192, 1, 255);
    text-align: center;
}
h1{
    margin-top: 8%;
}
.copy{
    margin-top: 300px;
    height: 50px;
    background-color: gray;
    padding: 0px 10px 30px 10px;
}
.copy h4{
    padding-top: 25px;
}
.button{
    margin-top: 50px;
    text-align: center;
}
.button ul{
    list-style: none;
}
.button ul li a{
    font-size: 20px;
    text-decoration: none;
}
.button .b1, .b2 {
    background-color: rgb(255, 255, 255);
    color: rgb(192, 1, 255);
    border: none;
    padding: 15px 32px;
    text-align: center;
    border-radius: 100px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 30px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .button .b1:hover {
    border-radius: 100px;
    background-color: rgb(0, 255, 85);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .button .b2:hover {
    border-radius: 100px;
    background-color: rgb(255, 47, 0);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }